*.db
.*.swp
*.pyc
*.pyo
*.tar
*.tgz
*.tar.gz
*~
*\#
*.bak
*.log
*.sqlite3
*.egg-info
*.egg
{{ project_name }}/settings/__init__.py
.DS_Store
.coverage
/cover/
env
venv
/media/
/static/
/whoosh_index/
/xapian/
/db/
.sass\-cache
/node_modules/
celerybeat-schedule
/htmlcov
/docs/_build
