*.db
.*.swp
*.pyc
*.pyo
*.tar
*.tgz
*.tar.gz
*~
*\#
*.bak
*.log
{{ project_name }}/settings/__init__.py
.DS_Store
.coverage
/cover/
env
/media/
/static/
/whoosh_index/
/xapian/
/db/
.sass\-cache
/node_modules/
