{% extends "base.html" %}

{% block title %}Oops!{% endblock title %}

{% block content %}
  <article>
    <header>
      <h1>Oops!  We couldn't find that...</h1>
    </header>
    <p>The page you are requesting has either been moved, restricted, or does
      not exist. Please double-check the URL and try your request again.</p>
    <p>If you are having difficulty navigating this site, please contact
      <a href="mailto:admin@dustinfarris.com">admin@dustinfarris.com</a></p>
  </article>
{% endblock content %}
