{% extends "base.html" %}

{% block title %}Oops!{% endblock title %}

{% block content %}
  <article>
    <header>
      <h1>Oops!  Internal Server Error</h1>
    </header>
    <p>The server encountered an internal server error and was unable to
      complete your request.</p>
    <p>If you are having difficulty navigating this site, please contact
      <a href="mailto:admin@dustinfarris.com">admin@dustinfarris.com</a> and
      include the time the error occured, and anything you might have done
      that may have caused the error.</p>
  </article>
{% endblock content %}
