extends base

block title
  | Oops!
    
block content
  article
    header
      h1 Oops!  We couldn't find that...
      
    :markdown
      The page you are requesting has either been moved, restricted, or does not 
      exist.  Please double-check the URL and try your request again.
      
      If you are having difficulty navigating this site, please contact 
      [admin@dustinfarris.com](mailto:admin@dustinfarris.com)