extends base

block title
  | Oops!

block content
  article
    header
      h1 Oops!  Internal Server Error

    :markdown
      The server encountered an internal server error and was unable to complete 
      your request.
      
      If you are having difficulty navigating this site, please contact
      [admin@dustinfarris.com](mailto:admin@dustinfarris.com) and include the 
      time the error occured, and anything you might have done that may have 
      caused the error.